.home {
  height: calc(100vh - 90px);
  color: black;

  background-image: url('../../assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  @media screen and (max-width: 500px) {
    background-position-x: -330px;
  }

  .home__container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    .home-heading {
      width: 60%;
      @media screen and (max-width: 500px) {
        width: 80%;
      }
    }
    .home-button {
      width: 100%;
      margin-top: 4rem;
      display: flex;
      justify-content: start;
      a {
        color: black;
        button {
          height: 50px;
          width: 100px;
          border-radius: 5px;
          border: none;
          font-size: 1rem;
          font-weight: 550;
          cursor: pointer;

          @media screen and (max-width: 500px) {
            height: 40px;
            width: 85px;
            border-radius: 4px;
            font-size: 0.8rem;
          }
          @media screen and (min-width: 1400px) {
            height: 70px;
            width: 135px;
            border-radius: 10px;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
