.addProduct {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 2rem;
  @media screen and (max-width: 500px) {
    margin: 1rem 0;
  }
  form {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    input {
      border: none;
      background-color: bisque;
      border-radius: 4px;
      text-align: center;
    }
    @media screen and (max-width: 500px) {
      width: 100%;
      height: 90vh;
      div {
        label {
          font-size: 0.8rem;
        }
        input {
          max-width: 140px;
        }
      }
    }
    @media screen and (min-width: 500px) and (max-width: 1200px) {
      width: 80%;
      height: 90vh;
      gap: 1.5rem 0;
      div {
        label {
          font-size: 1.2rem;
        }
        input {
          max-width: 200px;
        }
      }
    }
    @media screen and (min-width: 1200px) {
      width: 50%;
      gap: 2rem 0;
      div {
        label {
          font-size: 2rem;
        }
        input {
          max-width: 250px;
        }
      }
    }
    @media screen and (min-width: 2000px) {
      width: 50%;
      height: 90vh;
      gap: 2rem 0;
      div {
        label {
          font-size: 2.5rem;
        }
        input {
          width: 450px;
        }
      }
    }

    div {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    button {
      width: 150px;
      border: none;
      background-color: rgb(211, 189, 189);
      border-radius: 4px;
      padding: 0.5rem 0.5rem;
      cursor: pointer;
      @media screen and (min-width: 2000px) {
        width: 200px;
        padding: 1rem 1rem;
        p {
          font-size: 2rem;
        }
      }
    }
  }
}
